.cards{
  padding: 4rem;
  /* background: linear-gradient(#020a02, #091409); */
  background: #2a2a2a;
  /* background-image: linear-gradient(180deg, #242424 0%, #212121 74%); */
  color: #fff;
}

.cards-industries{
  padding: 4rem;
  /* background: linear-gradient(#020a02, #091409); */
  background: #2a2a2a;
  /* background-image: linear-gradient(180deg, #242424 0%, #212121 74%); */
  color: #fff;
  z-index: 1;
  position:sticky;
}

.cards-products{
  padding: 4rem;
  /* background: linear-gradient(#020a02, #091409); */
  background: #2a2a2a;
  /* background-image: linear-gradient(180deg, #242424 0%, #212121 74%); */
  color: #fff;
  margin-top: 100vh;
  z-index: 1;
  position:sticky;
}

.cards-clients, .cards__client  {
  padding: 4rem;
  /* background: linear-gradient(#020a02, #091409); */
  background: #121212;
  /* background-image: linear-gradient(180deg, #242424 0%, #212121 74%); */
  color: #fff;
  z-index: 1;
  position:sticky;
}

.cards-careers {
  padding: 4rem;
  /* background: linear-gradient(#020a02, #091409); */
  background: #121212;
  /* background-image: linear-gradient(180deg, #242424 0%, #212121 74%); */
  color: #fff;
  font-family: "Poppins";
  z-index: 1;
  position:sticky;
}




h1{
  text-align: center;
  font-size: 36px;
}

h3{
  text-align: center;
  font-size: 20px;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  /* background-color: #2a2b2a; */
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
  color: #fff;
  /* background-color: #2a2b2a; */

}

.cards__items {
  margin-bottom: 24px;
  color: #fff;
  /* background-color: #2a2b2a; */

}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  /* border-radius: 10px; */
  background-color: #212121;
}



.cards__item__client {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  /* border-radius: 10px; */
  background-color: #181818;
  border-width: 0.1px;
  border-style: solid;
  border-color: #fff;

}

.cards__item__prod {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  /* border-radius: 10px; */
  background-color: #212121;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 20rem;
  box-shadow: 0 6px 20px #1a1a1a;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  
  
  /* border-radius: 10px; */
  overflow: hidden;
  text-decoration: none;
}

.cards__item__link__career {
  display: flex;
  flex-flow: column;
  width: 20rem;
  box-shadow: 0 6px 20px #1a1a1a;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  
  
  /* border-radius: 10px; */
  overflow: hidden;
  text-decoration: none;
}

.cards__item__link__ind {
  display: flex;
  flex-flow: column;
  width: 20rem;
  box-shadow: 0 6px 20px #1a1a1a;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  
  
  
  overflow: hidden;
  text-decoration: none;
}

.cards__item__link__ind:hover {
  display: flex;
  flex-flow: column;
  width: 20rem;
  box-shadow: 0 6px 20px #1a1a1a;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  
  border-style: solid;
  border-width: 2px;
  border-color: teal;
  
  overflow: hidden;
  text-decoration: none;
}

.cards__item__link__client {
  display: flex;
  flex-flow: column;
  width: 16rem;
  height: 10rem;
  /* margin: 6px; */
  box-shadow: 0 6px 20px #1a1a1a;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  /* border-radius: 10px; */
  overflow: hidden;
  text-decoration: none;
}



.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cards__item__pic-wrap__career {
  position: relative;
  width: 100%;
  padding-top: 5%;
  overflow: hidden;
}

.cards__item__pic-wrap__career::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);

  font-size: 12px;
  font-weight: 700;
  color: #fff;
  /* background-color: rgb(0, 106, 255); */
  opacity: 0;
  box-sizing: border-box;
}

.cards__item__img__career {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  display: block;
  margin-top: 4px;
  margin-left: 20px;
  width: 70px;
  /* max-width: 75%; */
  height: 70px;
  /* max-height: 75%; */
  object-fit: contain;
  /* transform: scale(0.6); */
  border-radius: 50%;
  transition: all 0.2s linear;
}

.cards__item__pic-wrap__client {
  /* position: relative; */
  /* margin-left: 2rem;
  margin-top: 2rem; */
  /* padding-left: 10%; */
  overflow: hidden;
  display: block;
  margin-left: 2rem;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  /* background-color: rgb(0, 106, 255); */
  opacity: 0;
  box-sizing: border-box;
}



.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transform: scale(0.6);

  transition: all 0.2s linear;
}



.cards__item__img__prod {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transform: scale(0.7);
  /* transition: all 0s linear; */
}


.cards__item__img__client {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img__client {
  position: absolute;
  top: 0;
  /* right: 0;
  bottom: 0; */
  left: 0;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
  transform: scale(0.7);
  /* max-width: 100%; */
  /* height: 8rem; */
  /* width: 10rem; */
  /* max-height: 100%; */
  object-fit: contain;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(0.9);
}

.cards__item__img__prod:hover {
  transform: scale(0.7);
}

.cards__item__prod:hover {
  background-color: #fff;

}

.cards__item__img__client:hover {
  transform: scale(0.8);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  font-family: 'Poppins';
}

.cards__item__text2 {
  color: #fff;
  font-size: 24px;
  line-height: 20px;
  font-family: 'Poppins';

  /* font-weight: 200; */
}

.career__cards__item__text {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  font-family: 'Poppins';
}
.career__cards__item__text2 {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Poppins';

  /* font-weight: 200; */
}


/* .our-story-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 40%;
}
 */
@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
