  
.post-container {
    margin: 0;  
    border: 5px solid #333;
    overflow: auto;
    align-content: center;
    background-color: #212121;
    

}

.post-thumb {
    float: right;
    display: block;
    width: 30vh;
    /* align-content: center; */
    margin: 10px;
}

.post-content {
    margin: 20px
}

.post-title {
    font-weight: bold;
    font-size: 24px;
}
