.cards2 {
    padding: 4rem;
    /* background: linear-gradient(#020a02, #091409); */
    background: #121212;
    /* background-image: linear-gradient(180deg, #1f1f1f 0%, #212121 74%); */
    color: #fff;
  }


  
  h1 {
    text-align: center;
    font-size: 36px;
  }
  
  .cards__container2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    /* background-color: #2a2b2a; */
  }
  
  .cards__wrapper2 {
    position: relative;
    margin: 50px 0 45px;
    color: #fff;

  }
  
  .cards__items2 {
    margin-bottom: 24px;
    color: #fff;
    /* background-color: #2a2b2a; */


  }
  
  .cards__item2 {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 0px;
    /* background-color: #2a2b2a; */

  }
  
  .cards__item__link2 {
    display: flex;
    flex-flow: column;
    width: 10rem;
    /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
    /* -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017)); */
    border-radius: 0px;
    overflow: hidden;
    text-decoration: none;
  }

  
  .cards__item__pic-wrap2 {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap2::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    /* background-color: rgb(0, 106, 255); */
    opacity: 0;
    box-sizing: border-box;
    /* border-radius: 0px; */
  }
  
  .cards__item__img2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.2s linear;
    /* background-color: #2a2b2a; */
    background-color: #fff;
    border-radius: 0px;
  }
  
  .cards__item__img2:hover {
    transform: scale(0.9);
  }
  
  .cards__item__info2 {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text2 {
    color: #fff;
    font-size: 28px;
    line-height: 28px;
  }

  .cards__item__text22 {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    font-weight: 200;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container2 {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items2 {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item2 {
      margin-bottom: 2rem;
    }
  }
  